.AboutMeWrapper {
    color:white;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
}

.HorizontalDiv {
    display: flex;
    max-width: 800px;
    align-items: center;
}
.HorizontalDiv p {
    margin-left: 40px;
}

.RoundImg {
    width: 150px;
    object-fit: contain;
    border: 2px solid white;
    border-radius: 50%;
}
.AboutMeText {
    margin-bottom: 30px;
    max-width: 800px;
}
.AboutMeText h1 {
    margin-left: 190px;
    font-size: 3em;
}
