.CardImage {
    width: 100%;
    object-fit: cover;
}

.Card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: center;
    background-color: white;
}
.LogoImage img {
    width: 40px;
}

.Card a {
    text-decoration: none;
    color: black;
}

.CardTextSection {
    padding: 20px;
}