
.Scroller {
  width: 90vw;
  max-width: 1200px;
  height: 400px;
  margin-inline: auto;
  position: relative;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0,0,0,1) 20%,
    rgba(0,0,0,1) 80%,
    rgba(0,0,0,0)
  );
}


.Item {
  border-radius: 5px;
  position: absolute;
  left: max(calc(300px * 4), 100%);
  animation-name: scrollLeft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: -5s;
}

@keyframes scrollLeft {
  to {
    left: -200px;
  }
}

.Item1 {
  animation-delay: calc(30s / 4 * (4 - 1) * -1);
}
.Item2 {
  animation-delay: calc(30s / 4 * (4 - 2) * -1);
}
.Item3 {
  animation-delay: calc(30s / 4 * (4 - 3) * -1);
}
.Item4 {
  animation-delay: calc(30s / 4 * (4 - 4) * -1);
}

