/* HorizontalSlider.module.css */

.sliderContainer {
    overflow: hidden; /* Dölj innehållet som är utanför vyn */
    width: 70vw;
    position: relative;
  }
  
  .slider {
    display: flex;
    white-space: nowrap; /* Håll alla kort på samma rad */
  }

  .card p {
    color: white;
  }
  .card a {
    text-decoration: none;
  }

  .card h2 {
    color: white;
  }
  .card img {
    width: 40px;
  }