.ContactFormWrapper {
    display: flex;
    min-width: 60vw;
    min-height: 700px;
    padding: 20px;
    border-radius: 20px;
    background-image: url("https://images.unsplash.com/photo-1501760845351-4a8c9c6a5037?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b3JhbmdlJTIwc2t5fGVufDB8fDB8fHww");
    background-repeat: no-repeat;
    background-size: cover;
}

.LeftContactForm {
    width: 50%;
    margin-top: 20px;
}

.RightContactForm {
    width: 50%;
    color: white;
    padding: 20px;
}
.LeftContactForm h1 {
    font-size: 2.5em;
    width: 300px;
}

.LeftContactForm img {
    width: 20vw;
}

.RightContactInputs input {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px;
    outline: none;
    border: none;
}

.RightContactInputs {
    margin-top: 30px;
}

.TextAreaWrapper {
    display: flex;
    flex-direction: column;
}
.ContactMeText {
    margin-bottom: 20px;
}
.TextAreaWrapper textarea {
    height: 200px;
    padding: 10px;
    resize: none;
    border: none;
    display: flex;
}

.ContactInfo {
    margin-top: 60px;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.ContactInfo a {
    color: hsla(182, 100%, 91%, 1);
    text-decoration: none;
}

.TextAreaWrapper textarea:focus {
    outline: none;
}
.EmailParagraph {
    margin-top: 30px;
}

.TextAreaWrapper button {
    width: 150px;
    margin-top: 10px;
    padding: 15px;
    background-color: rgb(240, 167, 11);
    color: white;
    border: none;
    align-self: flex-end;
}
.TextAreaWrapper button:hover {
    cursor: pointer;
    background-color: rgb(28, 60, 163);
}