* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100vw;
  min-width: 100%;
  min-height: 100vh;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  0% {
    background-color: black;
  }
  50% {
    background-color: rgba(14, 5, 11, 0.95);
  }
  100% {
    background-color: black;
  }
}
